{% extends "index.html" %}
{% block content %}

    <div class="container-fluid">
        <h1 class="mt-4">Passwords Shown here</h1>
        <p>Passwords are viewable in the datatable below</p>

        <table id="dataTable" class="table table-striped table-bordered" >
            <thead>
            <tr>
                <!-- Titles -->
                <th>Domain Name</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            </thead>
            <!-- Test entries -->
            <tbody>
            <tr>
                <td>Facebook.com</td>
                <td>Zfowl</td>
                <td>**********</td>
            </tr>
            <tr>
                <td>Google.com</td>
                <td>Zfowl</td>
                <td>**********</td>
            </tr>
            <tr>
                <td>Reddit.com</td>
                <td>Zfowl</td>
                <td>**********</td>
            </tr>
            <tr>
                <td>Vcu.edu</td>
                <td>Zfowl</td>
                <td>**********</td>
            </tr>
            <tr>
                <td>Pinterest.com</td>
                <td>Zfowl</td>
                <td>**********</td>
            </tr>
            <tr>
                <td>Instagram.com</td>
                <td>Zfowl</td>
                <td>**********</td>
            </tr>
            <tr>
                <td>Canvas.com</td>
                <td>Zfowl</td>
                <td>**********</td>
            </tr>
            <tr>
                <td>Github.com</td>
                <td>Zfowl</td>
                <td>*********</td>
            </tr>
            <tr>
                <td>Trello.com</td>
                <td>Zfowl</td>
                <td>**********</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <!-- Footer Titles -->
                <th>Domain Name</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}